#app {

    em {
        color: #f00;
        font-size: 15px;
        font-weight: 600;
    }
    
    #navbar {
        box-sizing: border-box;
        display: inline-block;
        position: fixed;
        min-height: 50px;
        height: 100px;
        max-height: 50px;
        width: 100%;
        background-color: #464a4c;
        .row {
            height: 100%;
            padding: 0;
            .home {
                text-align: left;
                width: 25%;
                padding-left: 12px;
                a.dashboard {
                    text-decoration: none;
                    color: #fff;
                    font-size: 32px;
                    padding: 12px;
                    &:hover {
                        background-color: #000;
                        color: #0275d8;
                    }
                }
            }
            .menu {
                text-align: right;
                width: 75%;
                padding-right: 12px;
                span {
                    color: #fff;
                    .fa-icon {
                        vertical-align: middle;
                        padding-bottom: 3px;
                    }
                }
                a.logout {
                    display: inline-block;
                    text-decoration: none;
                    color: #fff;
                    height: 50px;
                    width: 50px;
                    padding: 12px;

                    &:hover {
                        background-color: #000;
                        color: #f00;
                    }
                }
            }
        }
    }

    #sidebar {
        box-sizing: border-box;
        display: inline-block;
        position: fixed;
        top: 50px;
        height: 100%;
        min-width: 150px;
        width: 100px;
        max-width: 150px;
        background-color: #464a4c;
        border-top: 1px #000 solid;

        ul {
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                font-size: 13px;
                list-style: none;
                padding: 10px 20px;
                color: #fff;

                &.router-link-active {
                    background-color: #292b2c;
                    color: #5cb85c;
                }

                &:hover {
                    background-color: #000;
                    color: #0275d8;
                }
            }
        }
    }

    #view-container {
        box-sizing: border-box;
        background-color: #fafafa;
        display: inline-block;
        position: fixed;
        padding-top: 12px;
        padding-bottom: 50px;
        top: 50px;
        height: 100%;
        left: 150px;
        width: calc(100% - 150px);
        overflow-y: scroll;
    }

    .datagrid-container {
        display: table;
        width: 100%;
        .datagrid-header {
            display: table-row;
            font-size: 14px;
            color: #fff;
            width: 100%;
            &:last-child {
                span {
                    border-bottom-width: 0;
                }
            }
            span {
                display: table-cell;
                border: 1px #ccc solid;
                padding: 2px;
                text-align: center;
            }
        }
        .datagrid-context {
            display: table-row;
            font-size: 12px;
            width: 100%;
            span {
                display: table-cell;
                border: 1px #ccc solid;
                cursor: pointer;
                padding: 2px;
                text-align: center;
            }
        }
        .datagrid-context:nth-child(odd) {
            background-color: #d9edf7;
        }
        .bg-selected {
            background-color: #fcf8e3 !important;
        }
        .success {
            color: #337ab7;
            &:hover {
                color: #4cae4c;
            }
        }
        .danger {
            color: #337ab7;
            &:hover {
                color: #d9534f;
            }
        }
    }

    /* CSS Global */

    .btn-form {
        width: 100%;
        text-align: right;
    }
}
