#app {
    #navbar {
        box-sizing: border-box;
        display: inline-block;
        position: fixed;
        min-height: 50px;
        height: 100px;
        max-height: 50px;
        width: 100%;
        background-color: #464a4c;
        .row {
            height: 100%;
            padding: 10px 0;
            div {
                text-align: right;
                padding-right: 50px;
                a {
                    text-decoration: none;
                    color: #fff;

                    &:hover {
                        color: #f00;
                    }
                }
            }
        }
    }

    #sidebar {
        box-sizing: border-box;
        display: inline-block;
        position: fixed;
        top: 50px;
        height: 100%;
        min-width: 150px;
        width: 100px;
        max-width: 150px;
        background-color: #464a4c;

        ul {
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                font-size: 13px;
                list-style: none;
                padding: 10px 20px;
                color: #fff;

                &.router-link-active {
                    background-color: #292b2c;
                    color: #5cb85c;
                }

                &:hover {
                    background-color: #000;
                    color: #0275d8;
                }
            }
        }
    }

    #view-container {
        box-sizing: border-box;
        display: inline-block;
        position: fixed;
        top: 60px;
        height: calc(100% - 60px);
        left: 150px;
        width: calc(100% - 150px);
    }

    .datagrid-container {
        display: table;
        width: 100%;
        .datagrid-header {
            display: table-row;
            font-size: 14px;
            color: #fff;
            width: 100%;
            &:last-child {
                span {
                    border-bottom-width: 0;
                }
            }
            span {
                display: table-cell;
                border: 1px #ccc solid;
                padding: 2px;
                text-align: center;
            }
        }
        .datagrid-context {
            display: table-row;
            font-size: 12px;
            width: 100%;
            span {
                display: table-cell;
                border: 1px #ccc solid;
                cursor: pointer;
                padding: 2px;
                text-align: center;
            }
        }
        .datagrid-context:nth-child(odd) {
            background-color: #d9edf7;
        }
        .bg-selected {
            background-color: #fcf8e3 !important;
        }
        .success {
            color: #337ab7;
            &:hover {
                color: #4cae4c;
            }
        }
        .danger {
            color: #337ab7;
            &:hover {
                color: #d9534f;
            }
        }
    }
}
